
#nav-container{
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
    background-color: black;
    color: white;
}
#nav-container #brand{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-container #brand:hover{
    transform: scale(1.2);
    transition: 1.5s;
    color: blue;
}
#nav-container #anchors{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#nav-container #anchors a{
    margin-left: 30px;
    text-decoration: none;
    color: white;
}
#nav-container #anchors a:hover{
    color: blue;
}
#nav-container #logos{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#nav-container #logos a{
    margin-right: 30px;
    text-decoration: none;
    color: white;
}
#nav-container #logos a:hover{
    color: blue;
}
#nav-container #logos button{
    padding: 4px 15px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    font-weight: bold;
}